//_base.scss

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: 'poppins', 'Times New Roman';
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
}

.wrapper {
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
}

// @media queries

@include breakpoint(mobile) {
  body {
    font-size: 14px;
  }
  .wrapper {
    padding: 0;
    width: 100%;
    margin: auto;
  }
}

@include breakpoint(tablet) {
  body {
    font-size: 15px;
  }

  .wrapper {
    padding: 0;
    width: 100%;
    margin: auto;
  }
}

@include breakpoint(laptop) {
  body {
    font-size: 16px;
  }
}

@include breakpoint(desktop) {
  .wrapper {
    max-width: 1200px;
  }
}

@include breakpoint(large) {
  .wrapper {
    max-width: 1440px;
  }
}

// Default styles for mobile-first approach
body {
  font-size: 14px;
}