@import '../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", "Times New Roman";
  font-size: 10px;
  color: black;
  background-color: #fdf6e8;
}

.wrapper {
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: 40px;
  background-color: #ffffff;
  font-size: 15px;
}

.top-bar-text {
  margin-left: 0;
}

.top-bar-text > p > span {
  color: #51eef9;
  font-weight: 500;
}

.top-bar-links {
  display: flex;
  gap: 10px;
}

.top-bar-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.top-bar-links > a > span {
  color: #51eef9;
  font-weight: 500;
}

.divider {
  color: #EE9E1A;
  margin: 0;
}

.top-bar-divider {
  width: 100%;
  height: 4px;
  background-color: #EE9E1A;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff;
  width: 100%;
  height: auto;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}

.logo {
  width: auto;
  height: auto;
  max-height: 125px;
  object-fit: cover;
  margin-right: -30px;
  margin-left: -20px;
  padding: 0;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:active {
  color: #EE9E1A;
}

.nav-links a:hover {
  color: #EE9E1A;
}

.contact-button {
  background-color: #EE9E1A;
  color: #ffffff !important;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: auto;
}

.contact-button:hover {
  color: #51eef9;
  transition: background-color 0.7s ease;
  box-shadow: 0 0 10px #51eef9;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

.hero-section {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(0.8) contrast(0.95);
}

.hero-text {
  position: absolute;
  top: 60%;
  left: 0;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero-text .text-main-color {
  color: #EE9E1A;
  filter: contrast(2);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero-text .text-accent-color {
  color: #51eef9;
  filter: contrast(3);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero-image img {
  object-fit: cover;
  height: auto;
  max-height: 650px;
  width: 100%;
}

.blog-preview-section {
  height: 500px;
  width: 100%;
  background-color: #fdf6e8;
}

.blog-preview-section > h2 {
  font-size: 30px;
  padding: 20px;
}

.blog-preview-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: auto;
  gap: 0.5rem;
}

.blog-post-preview {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
  height: auto;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
}

.blog-preview-button {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: auto;
}

.blog-post-preview__left img,
.blog-post-preview__middle img,
.blog-post-preview__right img {
  object-fit: cover;
  height: auto;
  width: 90%;
  margin: 10px;
  border-radius: 10px;
}

.banner-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.banner-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.text-top-left,
.text-bottom-right {
  max-width: 500px;
  height: auto;
  z-index: 2;
}

.text-top-left {
  align-self: flex-start;
  margin-top: 3vw;
}

.text-bottom-right {
  align-self: flex-end;
  margin-bottom: 3vw;
}

.banner-container h2 {
  font-size: clamp(30px, 3vw, 40px);
  line-height: 1.2;
}

.banner-container p,
.cta-link {
  font-size: clamp(18px, 2vw, 27px);
  color: black;
}

.banner-container p {
  padding-bottom: 25px;
}

.text-yellow {
  color: #EE9E1A;
  font-weight: 500;
}

.cta-link {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: auto;
}

.highlight-section {
  padding: 40px 0;
  background-color: #ffffff;
  text-align: center;
}

.highlight-section h2 {
  font-size: clamp(30px, 3vw, 45px);
  font-weight: 700;
  color: #EE9E1A;
}

.highlight-section p {
  font-size: clamp(20px, 3vw, 30px);
  font-weight: 400;
}

.image-slider-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: #e0f7fa;
  padding: 75px 10px;
}

.image-wrapper {
  position: relative;
  max-width: 75vh;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
}

.image-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.slider-nav {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: gray;
}

#dynamic-slider-title {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #00bcd4;
}

/*# sourceMappingURL=styles.css.map */
