@import '../node_modules/normalize.css/normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  font-family: "poppins", "Times New Roman";
  font-size: 10px;
  color: black;
  background-color: #fdf6e8;
}

.wrapper {
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: 40px;
  background-color: #ffffff;
  font-size: 15px;
}
.top-bar .text {
  margin-left: 0;
}
.top-bar .text p > span {
  color: #51eef9;
  font-weight: 500;
}
.top-bar .links {
  display: flex;
  gap: 10px;
}
.top-bar .links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.top-bar .links a > span {
  color: #51eef9;
  font-weight: 500;
}
.top-bar .links .divider {
  color: #EE9E1A;
  margin: 0;
}

.top-bar-divider {
  width: 100%;
  height: 4px;
  background-color: #EE9E1A;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff;
  width: 100%;
  height: auto;
}
nav .nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}
nav .nav-container .logo {
  width: auto;
  height: auto;
  max-height: 125px;
  object-fit: cover;
  margin-right: -30px;
  margin-left: -20px;
  padding: 0;
}
nav .nav-container .nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}
nav .nav-container .nav-links li {
  display: flex;
  align-items: center;
}
nav .nav-container .nav-links a {
  text-decoration: none;
  color: black;
}
nav .nav-container .nav-links a:active {
  color: #EE9E1A;
}
nav .nav-container .nav-links a:hover {
  color: #EE9E1A;
}
nav .nav-container .contact-button {
  background-color: #EE9E1A;
  color: #ffffff !important;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  margin-left: auto;
}
nav .nav-container .contact-button:hover {
  color: #51eef9;
  transition: background-color 0.7s ease;
  box-shadow: 0 0 10px #51eef9;
}

.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  height: 650px;
  overflow: hidden;
}
.hero-section .hero-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero-section .hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8) contrast(0.95);
}
.hero-section .hero-text {
  z-index: 1;
  margin-left: 5%;
  color: #ffffff;
}
.hero-section .hero-text h1 {
  font-size: clamp(16px, 4vw, 50px);
  font-weight: 500;
  line-height: 1.4;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.hero-section .hero-text .main-color {
  color: #EE9E1A;
}
.hero-section .hero-text .accent-color {
  color: #51eef9;
}

.blog-preview-section {
  width: 100%;
  background-color: #fdf6e8;
}
.blog-preview-section .preview-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin: 100px auto;
}
.blog-preview-section .preview-container .preview-block {
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  max-height: 500px;
}
.blog-preview-section .preview-container .preview-block img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}
.blog-preview-section .preview-container .preview-block h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.blog-preview-section .preview-container .preview-block p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}
.blog-preview-section .preview-container .preview-block .button {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  padding: 20px 30px;
  width: 150px;
  font-size: 15px;
  font-weight: 800;
}
.blog-preview-section .preview-container .preview-block.left {
  border-radius: 90px 10px 10px 30px;
}
.blog-preview-section .preview-container .preview-block.left img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 70px 0px 30px 0px;
}
.blog-preview-section .preview-container .preview-block.left h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.blog-preview-section .preview-container .preview-block.left p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}
.blog-preview-section .preview-container .preview-block.left .button {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  padding: 20px 30px;
  width: 150px;
  font-size: 15px;
  font-weight: 800;
}
.blog-preview-section .preview-container .preview-block.middle {
  border-radius: 10px 10px 10px 10px;
}
.blog-preview-section .preview-container .preview-block.middle img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}
.blog-preview-section .preview-container .preview-block.middle h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.blog-preview-section .preview-container .preview-block.middle p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}
.blog-preview-section .preview-container .preview-block.middle .button {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  padding: 20px 30px;
  width: 150px;
  font-size: 15px;
  font-weight: 800;
}
.blog-preview-section .preview-container .preview-block.right {
  border-radius: 10px 90px 30px 10px;
}
.blog-preview-section .preview-container .preview-block.right img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 0px 70px 0px 30px;
}
.blog-preview-section .preview-container .preview-block.right h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.blog-preview-section .preview-container .preview-block.right p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}
.blog-preview-section .preview-container .preview-block.right .button {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  padding: 20px 30px;
  width: 150px;
  font-size: 15px;
  font-weight: 800;
}

.banner-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.banner-section .banner-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.banner-section .banner-container .text-top-left,
.banner-section .banner-container .text-bottom-right {
  max-width: 500px;
  height: auto;
  z-index: 2;
}
.banner-section .banner-container .text-top-left {
  align-self: flex-start;
  margin-top: 3vw;
}
.banner-section .banner-container .text-bottom-right {
  align-self: flex-end;
  margin-bottom: 3vw;
}
.banner-section .banner-container h2 {
  font-size: clamp(30px, 3vw, 40px);
  line-height: 1.2;
}
.banner-section .banner-container p,
.banner-section .banner-container .cta-link {
  font-size: clamp(18px, 2vw, 27px);
  color: black;
}
.banner-section .banner-container p {
  padding-bottom: 25px;
}
.banner-section .banner-container .text-yellow {
  color: #EE9E1A;
  font-weight: 500;
}
.banner-section .banner-container .cta-link {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
}

.highlight-section {
  padding: 40px 0;
  background-color: #ffffff;
  text-align: center;
}
.highlight-section h2 {
  font-size: clamp(30px, 3vw, 45px);
  font-weight: 700;
  color: #EE9E1A;
}
.highlight-section p {
  font-size: clamp(20px, 3vw, 30px);
  font-weight: 400;
}

.image-slider-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  background-color: #e0f7fa;
  padding: 75px 10px;
}
.image-slider-section .slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.image-slider-section .slider-container .slider-nav {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: gray;
}
.image-slider-section .slider-container .image-container {
  position: relative;
  max-width: 75vh;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.image-slider-section .slider-container .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
}
.image-slider-section .slider-container .image-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
}
.image-slider-section .blue-text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #00bcd4;
}

.farewell-section {
  display: flex;
  width: 100%;
  padding: 70px 20px;
}
.farewell-section .text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50vw;
  margin: 0 20px;
}
.farewell-section .text-container h2 {
  font-size: 35px;
}
.farewell-section .text-container p {
  font-size: 25px;
  margin-top: 7vh;
  margin-bottom: 3vh;
}
.farewell-section .text-container .button {
  background-color: #EE9E1A;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 25px;
  text-decoration: none;
  padding: 15px 10px;
  font-size: 18px;
  margin-top: 20px;
  align-self: flex-start;
}
.farewell-section .image-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #EE9E1A;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.farewell-section .image-container img {
  width: 40vw;
  height: 100%;
  object-fit: cover;
}
.farewell-section .image-container .description-box {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  color: black;
  padding: 40px;
  text-align: left;
  font-size: 16px;
  line-height: 1.4;
}
.farewell-section .slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.farewell-section .slider-dots .dot {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 2px solid #EE9E1A;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.farewell-section .slider-dots .dot active {
  background-color: #EE9E1A;
  transform: scale(1.2);
}
.farewell-section .slider-dots .dot:hover {
  background-color: #EE9E1A;
}

/*# sourceMappingURL=styles.css.map */
