//_variables.scss
$primary-color: #EE9E1A;
$secundary-color: #51eef9;
$background-color: #fdf6e8;
$tertiary-color: #ffffff;
$text-color: black;
$font-size-base: 10px;
$button-radius: 10px;
$text-yellow-accent: #EE9E1A;